@media (max-width:885px) {

    .menu-responsivo {
        display: grid;
        display: -ms-grid;
        display: -webkit-flex;
        grid-template-columns: 50vw 50vw;
        grid-template-rows: 50px;
        background-color: #ffffff;
        text-align: center;
        align-items: center;
        justify-content: space-around;
        -webkit-align-items: center;
        -webkit-justify-content: space-around;
        -ms-justify-content: space-around;
    }

    .menu-responsivo a {
        cursor: pointer;
        text-decoration: none;
        color: #000000;
    }

    .menu {
        display: none;
    }

    .menu-mostrar {
        display: grid;
        display: -ms-grid;
        display: -webkit-flex;
        grid-template-columns: 100vw;
        grid-template-rows: 40px 40px 40px 40px;
        background-color: #ffffff;
        text-align: center;
        align-items: center;
        align-content: space-around;
        -webkit-flex-direction: column;  
        
    }

    .menu-mostrar li {
        list-style: none;
        font-size: 14px;
        font-family: lato;
        font-weight: 500;
    }

    .menu-mostrar a {
        text-decoration: none;
        color: #000000;
        padding: 15px 0 15px 0;
        width: 100vw;
    }

    .menu-mostrar a:hover {
        background-color: #D8D8D8;
    }

    .menu-mostrar a:first-of-type{
        display: none;
    }

    .logo {
        margin: 0;
        width: 150px;
    }   

    .menu-mostrar img {
        display: none;
    }
}
