* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../imagem/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
}

@media (min-width: 885px) {

.menu-responsivo {
    display: none;
}

.menu {
    display: grid;
    display: -ms-grid;
    display: -webkit-flex;
    grid-template-rows: 50px;
    grid-template-columns: 20vw 17.5vw 17.5vw 17.5vw 17.5vw;
    background-color: #ffffff;
    text-align: center;
    align-items: center;
    -ms-justify-content: space-around;
    -webkit-align-items: center;
    -webkit-justify-content: space-around;
}

.fixo {
    position: fixed;
    width: 100vw;
    box-shadow: 0 0 1px 1px #000000;
    background-color: rgba(255, 255, 255, 0.90);
}

.menu a {
    text-decoration: none;
    color: #000000;
    transition: ease-in-out 0.5s;
}

.menu a:hover:first-of-type {
    background-color: #ffffff;
    padding: 0;
}

.menu a:hover {
    background-color: #D8D8D8;
    padding: 22px 15vw 22px 15vw;
    transition: ease-in-out 0.5s;
}

.menu li {
    list-style: none;
    font-size: 14px;
    font-family: lato;
    font-weight: 400;
}

.logo {
    align-items: center;
    width: 150px;
    margin-left: 10vh;
}

}